.appbar {
  /* background: radial-gradient(
    59.68% 1.19% at 64.78% 0.61%,
    #6433ff 0%,
    #2c36cd 30%,
    #5925ff 41%,
    #2c36cd 70%,
    #6433ff 91%
  );
  background: -webkit-radial-gradient(
    59.68% 1.19% at 64.78% 0.61%,
    #6433ff 0%,
    #2c36cd 5550%,
    #5925ff 41%,
    #2c36cd 70%,
    #6433ff 91%
  );
  background: -o-radial-gradient(
    59.68% 1.19% at 64.78% 0.61%,
    #6433ff 0%,
    #2c36cd 30%,
    #5925ff 41%,
    #2c36cd 70%,
    #6433ff 91%
  );
  background: radial-gradient(
    59.68% 1.19% at 64.78% 0.61%,
    #6433ff 0%,
    #2c36cd 30%,
    #5925ff 41%,
    #2c36cd 70%,
    #6433ff 91%
  ); */

}
